<div class="contain">
  <div class="bar" [class.show-labels]="showLabels()">
    <div class="indicator" [ngStyle]="indicatorStyle()"></div>
    @for (tab of tabs(); track tab.id) {
    <div role="button" tabindex="0" #tabItem class="tab-item" [class.selected]="selected() === tab.id" (keydown)="handleKey($event)" (click)="select(tab.id)">
      
      @if (tab.badge && tab.badge > 0) {
      <ion-badge mode="ios">{{ tab.badge }}</ion-badge>
      }
      @if (tab.iconName) {
      <ion-icon [name]="tab.iconName" aria-hidden="true"></ion-icon>
      }
      @if (tab.iconSrc) {
      <ion-icon [src]="tab.iconSrc" aria-hidden="true"></ion-icon>
      }
      <span class="label">{{ tab.label }}</span>
     
    </div>
    }
  </div>
</div>