<div class="contain">
  <div class="bar">
    <div class="indicator" [ngStyle]="indicatorStyle()"></div>
    @for (tab of tabs(); track tab.id) {
      <div #tabItem class="tab-item" [class.selected]="selected() === tab.id" (click)="select(tab.id)">
        @if (tab.badge && tab.badge > 0) {
          <ion-badge mode="ios">{{ tab.badge }}</ion-badge>
        }
        @if (tab.iconName) {
          <ion-icon [name]="tab.iconName" aria-hidden="true"></ion-icon>
        }
        @if (tab.iconSrc) {
          <ion-icon [src]="tab.iconSrc" aria-hidden="true"></ion-icon>
        }
      </div>
    }
  </div>
</div>
