ion-button.slim {
    --padding-top: 4px !important;
    --padding-bottom: 4px;
    font-size: medium;
    font-weight: normal;
}

ion-datetime {
    background-color: transparent;
    color: var(--ion-color-dark);
}