h1 {
    padding-left: 1.5rem;
    margin-bottom: 0rem;
}

h3 {
    font-family: 'Gelion Medium';
    padding-left: 1.5rem;
    padding-top:0;
    padding-bottom:0;
}

ion-card-content {
    padding-left: 2rem;
}

span {
    padding-left: 0.5rem;
    opacity: 0.5;
    color: var(--ion-color-dark)
}

.old {
    opacity: 0.5;
}

.rsl-container {

}

.rsl-item {
    
}

.star {
    margin-bottom: -2px;
}