h1 {
  padding-left: 1.5rem;
  margin-bottom: 0rem;
}

h3 {
  font-family: 'Gelion Medium';
  padding-left: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

span {
  opacity: 0.5;
  color: var(--ion-color-dark);
}

.old {
  opacity: 0.5;
}

.image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.1);
}

.time {
  display: inline-block;
  width: 110px;
  text-align: right;
  opacity: 0.9;
  padding-right: 0.5rem;
}

.star {
  margin-bottom: -2px;
}

.wheelchair {
  margin-bottom: -2px;
}
