h1 {
  padding-left: 1.5rem;
  margin-bottom: -1rem;
}

.pad-sides {
  padding-left: 10vw;
  padding-right: 10vw;
}

.flex {
  display: flex;
}

.b-pad-r {
  padding-right: 0.5rem;
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --background: transparent;
}
.center ion-icon {
  vertical-align: middle;
  margin: 0 0rem;
}