<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
    <ion-buttons class="b-pad-r" slot="end">
      <ion-button fill="clear" (click)="print()"><ion-icon name="print-outline"></ion-icon></ion-button>
      @if (vm.events.length > 0) {
      <ion-button fill="clear" (click)="syncCalendar(this.vm.events)"><ion-icon
          name="calendar-outline"></ion-icon></ion-button>
      }

      <app-category id="fav-categories" allTitle="All" (categoryChange)="filterChanged()" [(category)]="vm.filter"
        [categories]="vm.filters" slot="end"></app-category>
    </ion-buttons>
    @if (db.selectedYear() !== '') {
    <ion-badge class="pad-right" (click)="home()" slot="end">{{db.selectedYear()}}</ion-badge>
    }
  </ion-toolbar>
</ion-header>

<ion-content #printSection [fullscreen]="true" class="app-page">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favorites</ion-title>
      <ion-buttons class="b-pad-r" slot="end">
        <ion-text class="right-side">{{vm.filter}}</ion-text>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <app-search placeholder="Find Favorites" (search)="searchFavs($event)" />
    </ion-toolbar>
  </ion-header>
  <ion-action-sheet [isOpen]="vm.isActionSheetOpen" header="Actions" [buttons]="actionSheetButtons"
    (didDismiss)="sheetAction($event)"></ion-action-sheet>
  <app-map-modal [title]="vm.mapTitle" [subtitle]="vm.mapSubtitle" [(show)]="vm.showMap"
    [points]="vm.mapPoints"></app-map-modal>
  @if (vm.noFavorites) {
  <div class="center pad-top pad-sides">
    <ion-text class="large" color="medium">Press the <ion-icon [src]="'assets/icon/star.svg'"></ion-icon> icon on
      Events, Theme Camps and Art to add them
      here.</ion-text>
  </div>
  } @for (event of vm.events; track eventsTrackBy($index, event)) {
  <app-event (rslClick)="rslClick($event)" (groupClick)="groupClick($event)" title="Favorites"
    (mapClick)="mapEvent($event)" [event]="event" [variableHeight]="true" [longTime]="true" />
  } @if (vm.camps.length > 0) {
  <h1 class="flex">
    Camps
    <ion-buttons slot="end">
      <ion-button (click)="mapCamps()">
        <ion-icon slot="icon-only" name="map-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </h1>
  } @for (camp of vm.camps; track campsTrackBy($index, camp)) {
  <ion-item-sliding>
    <ion-item lines="none">
      <app-camp title="Favorites" (mapClick)="mapCamp($event)" [camp]="camp" />
    </ion-item>
    <ion-item-options>
      <ion-item-option color="danger" (click)="removeCamp(camp)">Remove</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  } @if (vm.art.length > 0) {
  <h1 class="flex">
    Art
    <ion-buttons slot="end">
      <ion-button (click)="mapArt()">
        <ion-icon slot="icon-only" name="map-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </h1>
  } @for (art of vm.art; track artTrackBy($index, art)) {
  <app-art (artClick)="artClick($event)" [showImage]="art.images && art.images.length > 0" title="Favorites"
    [art]="art" />
  }
  <div style="padding: 2.5rem"></div>
</ion-content>