ion-modal {
  --height: 95%;
  --border-radius: 16px 16px 0 0;
  align-items: flex-end;
}

.float {
  position: absolute;
  padding: 2rem;
}

app-map {
  height: 100%;
}

.close-fab {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  z-index: 10;
}
