<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camps</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar (ionInput)="handleInput($event)" [debounce]="1000" placeholder="Find Camps"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <app-map-modal [title]="mapTitle" [subtitle]="mapSubtitle" [(show)]="showMap" [points]="mapPoints"></app-map-modal>
  <cdk-virtual-scroll-viewport  itemSize="180" [minBufferPx]="minBufferPx" maxBufferPx="1350">
  <ion-card class="item" *cdkVirtualFor="let camp of camps; trackBy: campsTrackBy">
    <ion-card-header>
      <ion-card-title [routerLink]="'/camp/'+ camp.uid">{{camp.name}}</ion-card-title>
      <ion-card-subtitle color="primary" (click)="map(camp)">{{camp.location_string}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content [routerLink]="'/camp/'+ camp.uid">
      <ion-text class="clamp3">{{camp.description}}</ion-text>
      <ion-text color="primary"></ion-text>      
    </ion-card-content>
  </ion-card>
</cdk-virtual-scroll-viewport>
</ion-content>
