<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camps</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar (ionInput)="handleInput($event)" [debounce]="1000" placeholder="Find Camps"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <app-map-modal [title]="mapTitle" [subtitle]="mapSubtitle" [(show)]="showMap" [points]="mapPoints"></app-map-modal>
  
  <cdk-virtual-scroll-viewport  itemSize="180" [minBufferPx]="minBufferPx" maxBufferPx="1350">
    <app-camp [camp]="camp" (mapClick)="map($event)" *cdkVirtualFor="let camp of camps; trackBy: campsTrackBy" />
</cdk-virtual-scroll-viewport>
</ion-content>
