<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Art
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="app-page" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Art</ion-title>
      <ion-badge *ngIf="db.selectedYear() !== ''" slot="end">{{db.selectedYear()}}</ion-badge>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar (ionInput)="handleInput($event)" [debounce]="1000" placeholder="Find Art"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="arts.length === 0" class="center pad-top">
    <ion-text color="medium">No art was found.</ion-text>
  </div>
  <cdk-virtual-scroll-viewport itemSize="180" [minBufferPx]="minBufferPx" maxBufferPx="1350">
    <app-art [art]="art" *cdkVirtualFor="let art of arts; trackBy: artTrackBy" />
</cdk-virtual-scroll-viewport>
</ion-content>