<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="lheader"  collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About <span style="color: var(--ion-color-primary)">dust</span> </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <img class="avatar" src="assets/profile.jpg" />
    <ion-text class="text">Hi, my name is Damian and I created <b>dust</b> as gift to the community. <br /><br />You can
      say hi using one of
      the following ways:
    </ion-text>
    <br /><br />
    <a target="_system" href="https://bsky.app/profile/damiant.bsky.social">
      <ion-icon size="large" [src]="'assets/icon/bluesky.svg'"></ion-icon></a>
    <a target="_system" href="https://instagram.com/damiant75">
      <ion-icon size="large" name="logo-instagram"></ion-icon>
    </a>
    <a target="_system" href="mailto:damian@dust.events"> <ion-icon size="large" name="mail-outline"></ion-icon></a>
  </div>

  <div class="container">
    <ion-text class="text">
      <b>dust</b> works offline, meaning that it will work at the burn. It also means that we don't send or receive data
      and we dont track anything you do (<a href="https://dust.events/docs/privacy" target="_system">privacy policy</a>).
      <br /><br />
      If you are wondering why we can't release location information earlier, it is because Burning Man requires
      it as part of their
      <a href="https://innovate.burningman.org/terms-of-service-for-burning-man-apis-and-datasets/"
        target="_system">terms of service</a>. <br /><br />
      Don't worry though, all the camp and art locations will appear even if you dont have cell service.
      <br /><br />
      Data for dust comes from Burning Man via their
      <a href="https://innovate.burningman.org/" target="_system">Innovation program</a>.
      <br /><br />
      For regional burns we provide
      a platform to manage events, camps and art. This is free for regionals.
      <br /><br />
      We also get data from
      <a href="https://www.rockstarlibrarian.com/" target="_system">Rock Star Librarian</a>, thanks Kate! <br /><br />
      This app is not affiliated with or endorsed by Burning Man Project or Black Rock City LLC.
      <br /><br /><br /><br /><br />
    </ion-text>
  </div>
</ion-content>