.container {
    padding: 10vw;
    font-size: larger;
}

.avatar {
    width: 120px;
    float: right;
    border-radius: 120px;
    margin-left: 1rem;
}

ion-icon {
    padding-right: 1rem;
}

b {
    color: var(--ion-color-primary);
}