.container {
    padding: 10vw;
    font-size: larger;
}

.avatar {
    width: 120px;
    float: right;
    border-radius: 120px;
    margin-left: 1rem;
}

ion-icon {
    padding-right: 1rem;
}

a {
    text-decoration: none;
    font-weight: bold;
}
