ion-radio-group {
    padding-bottom: 5rem;
}

ion-radio {
    padding: 0.5rem;
    width: 100%;
}

ion-popover {
    --min-width: 300px;
}

ion-item {
    font-weight: bold;
}

.checked {
    padding-right: 1rem;
}

ion-checkbox {
    margin-top: 1rem;
    font-size: 1rem;
    font-family: 'Gelion Regular' !important;

    &::part(label) {
        margin-inline-end: 0.5rem;
    }
}