ion-segment {
    margin-left: 12px;
    margin-right: 12px;    
}

// Hides the scroll bar without affecting scrolling
ion-segment::-webkit-scrollbar{
    display: none;
}

.item {
    height: 156px;
}

.bold {
    font-weight: bold !important;
    text-transform: capitalize;
}

.message {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    opacity: 0.5;
}

ion-button {
    position: absolute;
    right: 1rem;
    top: 0.5rem;    
}