<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar (ionInput)="handleInput($event)" [debounce]="1000" placeholder="Find Events"></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment (ionChange)="dayChange($event)" [(ngModel)]="defaultDay" [scrollable]="true">
        <ion-segment-button [value]="'all'">
          All
        </ion-segment-button>
        <ion-segment-button [class.bold]="day.today" *ngFor="let day of days" [value]="day.date">
          {{day.name}}<br />{{day.dayName}}
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  <app-map-modal [title]="mapTitle" [subtitle]="mapSubtitle" [(show)]="showMap" [points]="mapPoints"></app-map-modal>
  <div *ngIf="noEvents" class="message"><ion-text>All the events for this day have concluded.</ion-text></div>
  <cdk-virtual-scroll-viewport [minBufferPx]="minBufferPx" itemSize="180" maxBufferPx="2350">
    <app-event [event]="event" (mapClick)="map($event)" *cdkVirtualFor="let event of events; trackBy: eventsTrackBy" />
  </cdk-virtual-scroll-viewport>
</ion-content>