<div [hidden]="!isOpen" class="popover" z-index="1" #popover>
  @if (info) {
  <!-- <ion-content class="ion-padding"> -->
  <b>{{ info.title }}</b><br />{{ info.location }}<br />{{ info.subtitle }}
  <div class="center">
    @if (info.imageUrl) {
    <app-cached-img (loaded)="popReady()" class="pop" [src]="info.imageUrl" [alt]="info.title"
      (click)="link(info.href)" />
    }
  </div>
  <div class="center">
    @if (info.href) {
    <ion-button #popButton [disabled]="!isOpen" (click)="link(info.href)" size="small" shape="round">View</ion-button>
    }
  </div>
  <!-- </ion-content> -->
  }
</div>

<app-message [secondButton]="'Not Now'" (dismissed)="enableGeoLocation($event)" [show]="showMessage"
  [title]="'Geolocation'" message="By enabling geolocation you can see where you are on the map."></app-message>

<div #container (click)="mapClick($event)" [style]="height()" style="width:100%;">

</div>

@if (footer) {
<div [style.paddingBottom.px]="footerPadding()" [ngClass]="isHeader() ? 'header' : 'footer'">
  <ion-text (click)="locationClick()">{{ footer }}</ion-text>
</div>
}