.pop {
    border-radius: 0.5rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: calc(env(safe-area-inset-bottom, 0.5vh) + 0.5rem);
    width: 100%;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fade-in {
    animation: fadeIn 0.3s;
}

.hidden {
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header {
    position: fixed;
    left: 0;
    top: 1rem;
    width: 100%;
    text-align: center;
}

app-cached-img {
    --border-radius: 0.5rem;
}

.popover {
    position: absolute;
    background-color: var(--ion-color-light);
    width: 200px;
    //height: 300px;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    overflow: auto;
    box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
}

ion-content {
    border-radius: 0.5rem;
}

ion-text.warning {
    background-color: var(--ion-color-primary);
    color: white;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
}