<div [hidden]="!isOpen" class="popover" z-index="1" #popover>
  @if (infoList) {
    @if (infoList.length === 1) {
      @let info = infoList[0];
      <div style="width: 100%" (click)="link(info.href)" (keyup.enter)="link(info.href)" tabindex="0">
        <b>{{ info.title }}</b
        ><br />{{ info.location }}<br />{{ info.subtitle }}
        @if (info.time) {
          <br />{{ info.time }}
        }
        <div class="center">
          @if (info.imageUrl) {
            <app-cached-img
              (loaded)="popReady()"
              class="pop"
              [src]="info.imageUrl"
              [alt]="info.title"
              (click)="link(info.href)"
            />
          }
        </div>
        <div class="center">
          @if (info.href) {
            <ion-button #popButton [disabled]="!isOpen" (click)="link(info.href)" size="small" shape="round"
              >View</ion-button
            >
          }
        </div>
        @if (info.eventUid && info.eventStartTime) {
          <div class="center">
            <ion-button
              size="small"
              shape="round"
              [fill]="info.star ? 'clear' : 'solid'"
              (click)="toggleFavorite(info, $event)"
            >
              {{ info.star ? 'Remove from Favorites' : 'Add to Favorites' }}
            </ion-button>
          </div>
        }
      </div>
    } @else if (infoList.length > 1) {
      <div class="row-header">{{ infoList[0].location }}</div>
      @for (info of infoList; track $index) {
        <div class="row event-row" (click)="link(info.href)" (keyup.enter)="link(info.href)" tabindex="0">
          <div>
            <div>{{ info.title }}</div>
            @if (info.time) {
              <small>{{ info.time }}</small>
            }
          </div>
          @if (info.eventUid && info.eventStartTime) {
            <ion-button
              fill="clear"
              size="small"
              [attr.aria-label]="info.star ? 'Remove from favorites' : 'Add to favorites'"
              (click)="toggleFavorite(info, $event)"
            >
              <ion-icon slot="icon-only" [name]="info.star ? 'star' : 'star-outline'"></ion-icon>
            </ion-button>
          }
        </div>
      }
    }
  }
</div>

<app-message
  [secondButton]="secondButton"
  (dismissed)="enableGeoLocation($event)"
  [show]="showMessage"
  [title]="'Geolocation'"
  message="By enabling geolocation you can see where you are on the map."
></app-message>

<div #container [ngClass]="mapClass" (click)="mapClick($event)" (keyup.enter)="mapClick($event)" tabindex="0" [style]="height()" style="width: 100%"></div>

@if (footer) {
  <div [style.paddingBottom.px]="footerPadding()" [ngClass]="isHeader() ? 'header' : 'footer'">
    <ion-text [ngClass]="footerClass" (click)="locationClick()">{{ footer }}</ion-text>
  </div>
}
