<ion-content color="primary" [fullscreen]="true">
  <app-message (dismissed)="launch()" [show]="vm.showMessage" [title]="vm.selected ? 'About '+vm.selected.year : ''"
    [message]="vm.message"></app-message>
  <div [class.full]="vm.eventAlreadySelected" class="vcenter rows">
    <h1 (click)="clear()">dust.</h1>
    <ion-text role="text"><strong>dust</strong> is a guide for burners to find events, camps and art.</ion-text>
    <!-- <div style="min-height: 40px">
      <ion-spinner [hidden]="!vm.downloading" name="dots" color="light"></ion-spinner>
    </div> -->
  </div>

  <app-carousel [hidden]="vm.eventAlreadySelected" (slideChanged)="slideChanged($event)" #carousel>
    @for (card of vm.cards; track card.id) {
    <app-carousel-item (click)="open(card)">
      <app-cached-img (loaded)="vm.cardLoaded[card.id] = true" [loading]="'eager'"
        [ngClass]="(vm.selected?.id === card.id) ? 'select' : 'unselect'" [src]="card.imageUrl" />
      <p class="name" [hidden]="!vm.cardLoaded[card.id]" aria-hidden="true">{{card.title}}</p>
    </app-carousel-item>
    }
  </app-carousel>

  <ion-fab #fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (ionBlur)="selectedFilter(undefined)" id="click-trigger">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list class="fab-list" side="top">
      <ion-content class="ion-padding">
        <ion-radio-group (ionChange)="selectedFilter($event)" [value]="vm.showing">
          <ion-radio value="all">All</ion-radio><br />
          <ion-radio value="past">Past Events</ion-radio><br />
          <ion-radio value="regional">Regionals</ion-radio><br />
          <ion-radio value="bm">Burning Man</ion-radio><br />
        </ion-radio-group>
      </ion-content>
    </ion-fab-list>
  </ion-fab>

  <!-- @if (vm.downloading) {
  <ion-fab #fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button>
      <ion-spinner name="crescent"></ion-spinner>      
    </ion-fab-button>
  </ion-fab>
  } -->

  <app-pin-entry [correctPin]="vm.selected ? vm.selected.pin : ''" (dismissed)="closePin()"
    [show]="vm.showPinModal"></app-pin-entry>
  <div [hidden]="vm.eventAlreadySelected" class="footer">
    <ion-button [disabled]="!vm.ready" (click)="go()" size="large" shape="round">Get Dusty @if (!vm.ready ||
      vm.downloading) {
      <ion-spinner style="margin-left: 0.5rem" color="light" name="circular"></ion-spinner>
      } @if (vm.ready && !vm.downloading) {
      <ion-icon name="arrow-forward-outline"></ion-icon>
      }</ion-button>
  </div>
  <p class="subtitle">{{subtitle()}}</p>
</ion-content>