ion-button {
    color: white;
    --background: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2rem;
}

h1 {
    font-size: 60px;
    font-family: 'Nunito';
}

ion-spinner {
    padding-top: 2rem;
}

.rows {
    margin-top: -2rem;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

.full {
    height: 100vh;
}

ion-text {
    font-size: x-large;
}

p {
    margin: 0;
    text-align: center;
}

.select {
    font-weight: bolder;
    transform: scale(1);
}

.unselect {
    opacity: 0.75;
    transform: scale(0.95);
}

app-cached-img {
    --border-radius: 1rem;
}

app-cached-img.select {
    --border: 3px solid white;
}

app-cached-img.unselect {
    --border: 3px solid transparent;
}