ion-button {
    color: white;
    --background: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2rem;
}

h1 {
    font-size: 60px;
    font-family: 'Nunito';
}

ion-spinner {
    padding-top: 2rem;
}

.rows {
    margin-top: -2rem;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

ion-text {
    font-size: x-large;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 20px;
    scroll-behavior: smooth;
}

.card {
    scroll-snap-align: start;
    scroll-snap-stop: always;

    background-color: transparent;
    border: 4px solid white;
    border-radius: 50%;//10px;
    min-width: calc(40vw - 30px);
    min-height: calc(40vw - 30px); 
    max-width: calc(40vw - 30px);
    max-height: calc(40vw - 30px); 
    
    margin: 0.5rem;
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
}

@media screen and (min-width: 700px) {
    .card {
        min-width: 10rem !important;
        min-height: 10rem !important;
        max-width: 10rem !important;
        max-height: 10rem !important;
    }

    .container {
        justify-content: center;
    }
}

.select {
    background-color: white;
    color: var(--ion-color-primary);
}

.unselect {
    opacity: 0.75;
}

.card-container {
    overflow-y: scroll;
}

div::-webkit-scrollbar {
    display: none;
}
