<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="events">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camps">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Camps</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Art</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
