ion-tab-bar.ios {
  padding-top: 0.5rem;

  // See https://github.com/ionic-team/ionic-framework/issues/17676
  // This fixes translucent
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  // This is for Android which doesn't do safe area properly
  padding-bottom: var(--safe-area-inset-bottom);
}

ion-badge {
  margin-left: -5px;
  margin-top: -3px;
}
