

.ios ion-tab-bar {
    padding-top: 0.5rem;

    // See https://github.com/ionic-team/ionic-framework/issues/17676
    // This fixes translucent
    position: absolute;
    bottom: 0;  
    left: 0;  
    width: 100%;  
}