.bar {
  background-color: black;
  font-size: 1.5rem;
  color: white;
  display: flex;
  border-radius: 10rem;
  justify-content: center;
  padding: 0.5rem;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 200ms ease-in, opacity 200ms ease-in;

  &.open {
    transform: translateY(0);
    opacity: 1;
    transition: transform 200ms ease-out, opacity 200ms ease-out;
  }
}

p {
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;

  border-radius: 10rem;
}

p.selected {
  background-color: white;
  color: black;
}

.contain {
  display: flex;
  justify-content: center;
  width: 100%;
}
