.bar {
  background-color: black;
  font-size: 1.5rem;
  color: white;
  display: flex;
  border-radius: 10rem;
  justify-content: center;
  padding: 0.5rem;
}

p {
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;

  border-radius: 10rem;
}

p.selected {
  background-color: white;
  color: black;
}

.contain {
  display: flex;
  justify-content: center;
  width: 100%;
}
