.rotate {
  animation: rotate 2s infinite;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1rem;
}

app-search {
  margin-top: 0.5rem;
  width: 150px;
}

ion-item {
  --border-radius: 1rem;
}
