<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon [hidden]="!busy()" class="rotate" color="primary" name="compass-outline"></ion-icon>
      <ion-button (click)="shareMap()">
        <ion-icon color="primary" name="share-outline"></ion-icon>
      </ion-button>
      @if (canClearThing) {
      <ion-button (click)="clearThing()" color="danger">{{clearLabel}}</ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header  class="lheader" collapse="condense">

    <ion-toolbar>
      <ion-title size="large">{{title()}}</ion-title>
      <app-search [hidden]="!showSearch()" slot="end" placeholder="" (searched)="search($event)" />
    </ion-toolbar>

  </ion-header>
  <div [hidden]="description === ''" style="position: absolute" class="ion-padding rounded">
    <ion-item class="shadow" lines="none">
      <ion-text class="text">{{description}}</ion-text>
    </ion-item>
  </div>
  <ion-loading spinner="circular" [isOpen]="isGettingGPS"
    message="Getting Location: This may take up to 10 seconds."></ion-loading>
  <app-map #map [(loadingDialog)]="isGettingGPS" [smallPins]="smallPins" [points]="points"></app-map>
</ion-content>