.center {
    padding-top: 1rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

img {
    border-radius: 0.5rem;
}

app-map {
    height: 100%;
}

ion-fab {
    padding-top: 2rem;
}