<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Art"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleStar()" slot="icon">
        <ion-icon *ngIf="star" name="star"></ion-icon>
        <ion-icon *ngIf="!star" name="star-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-map-modal [title]="mapTitle" [subtitle]="mapSubtitle" [(show)]="showMap" [points]="mapPoints"></app-map-modal>
  <ion-list *ngIf="art" lines="none">
    <ion-item>
      <h1>{{art.name}}</h1>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>{{art.artist}} ({{art.hometown}})</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-label color="primary" (click)="map()">{{art.location_string}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-text style="padding-right: 1rem;" class="text">{{art.description}}</ion-text>
    </ion-item>

    <ion-item>
      <div [@fade]="image.ready ? 'visible' : 'hidden'" class="center" *ngFor="let image of art.images">
        <img *ngIf="image.thumbnail_url" (load)="ready(image)" [src]="image.thumbnail_url" [alt]="art.name" />
      </div>
    </ion-item>
  </ion-list>
</ion-content>