.item {
    height: calc(var(--text-zoom) * 50 + 156px)
}

.image {
    padding-left: 0.5rem;
    float: right;
    height: 156px;
    width: 33vw;
    min-width: 150px;
    object-fit: cover;
}

.title {
    padding-right: 33vw;
}