<ion-card class="item">
  <div class="image" *ngIf="showImage && camp.imageUrl">
    <img loading="lazy" class="image" [@fade]="isReady ? 'visible' : 'hidden'" alt="{{camp.name}}" (load)="ready()"
      [src]="'https://data.dust.events/'+camp.imageUrl" />
  </div>
  <ion-card-header>
    <ion-card-title [routerLink]="'/camp/'+ camp.uid+ '+' + title">{{camp.name}}</ion-card-title>
    <ion-card-subtitle color="primary" (click)="map(camp)">{{camp.location_string}} {{camp.distanceInfo}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content [routerLink]="'/camp/'+ camp.uid+ '+' + title">
    <ion-text class="clamp3">{{camp.description}}</ion-text>
    <ion-text color="primary"></ion-text>
  </ion-card-content>
</ion-card>