ion-label {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

ion-label.text {
     opacity: 0.5;
}

ion-item.event {
    font-weight: bold;
}

ion-item.small {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --min-height: unset;
}

.pad {
    padding: 1rem;
}

.pad-left {
    padding-left: 2.7rem;
}