ion-label {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

ion-label.text {
    opacity: 0.5;
}

ion-item.event {
    font-weight: bold;
    --padding-top: 1rem;
    --padding-bottom: 0px;
    --min-height: unset;
}

ion-icon.event-icon {
    margin-top: 0;
    margin-bottom: 0;
}

ion-item.small {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --min-height: unset;
}

.image {
    width: 100%;
    object-fit: cover;
}

.pad {
    padding: 1rem;
}

.pad-left {
    padding-left: 2.7rem;
}

.star {
    padding-left: 0.2rem;
    margin-bottom: -2px;
}

.time {
    display: inline-block;
    width: 65px;
    text-align: right;
    opacity: 1;
    padding-right: 0.5rem;
}