<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Camps"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleStar()" slot="icon">
        <ion-icon *ngIf="star" name="star"></ion-icon>
        <ion-icon *ngIf="!star" name="star-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-modal [isOpen]="showEvent" (didDismiss)="showEvent = false"  [initialBreakpoint]="0.75" [breakpoints]="[0, 0.5, 0.75]">
    <ng-template>
      <app-event [eventId]="eventId"></app-event>
    </ng-template>
  </ion-modal>
  <ion-list *ngIf="camp" lines="none">
    <ion-item>
      <h1 *ngIf="!camp.url">{{camp.name}}</h1>
      <h1 style="color: var(--ion-color-primary)" *ngIf="camp.url" (click)="open(camp.url)">{{camp.name}}</h1>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-label>{{camp.location_string}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-text style="padding-right: 1rem;" class="text">{{camp.description}}</ion-text>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="events.length > 0" lines="none">
    <ion-item>
      <h1>Events</h1>
    </ion-item>
    <ion-item class="small" *ngFor="let event of events">
      <ion-icon size="small" slot="start" name="calendar-outline"></ion-icon>
      <ion-label (click)="show(event)"><small>{{event.name}}</small></ion-label>
    </ion-item>
  </ion-list>
  <app-map [points]="mapPoints"></app-map>
</ion-content>