<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{vm.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="app-page">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Music</ion-title>
      <!-- <ion-item lines="none">
        <img class="rslLogo" alt="Rockstar Librarian Logo" src="assets/icon/rsl-logo.svg" style="height: 80px"
          (click)="rslLogo()" />
      </ion-item> -->
      <ion-buttons class="b-pad-r" slot="end">
        <app-sort [padChecked]=false id="music-sort" (sortTypeChange)="sortTypeChanged($event)"></app-sort>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <app-search placeholder="Find Events & DJs" (searched)="searchEvents($event)" />

    </ion-toolbar>
    <ion-toolbar>
      <ion-segment (ionChange)="dayChange($event)" [(ngModel)]="vm.defaultDay" [scrollable]="true">
        @for (day of vm.days; track day) {
        <ion-segment-button [id]="vm.day === day.date ? 'today' : 'day'+day.dayName" [class.bold]="day.today"
          [value]="day.date">
          {{day.name}}<br />{{day.dayName}}
        </ion-segment-button>
        }
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  <ion-popover #popover [isOpen]="vm.isOpen" (didDismiss)="vm.isOpen = false">
    <ng-template>
      <ion-content class="ion-padding"> {{vm.message}} </ion-content>
    </ng-template>
  </ion-popover>
  <app-map-modal [title]="vm.mapTitle" [subtitle]="vm.mapSubtitle" [(show)]="vm.showMap"
    [points]="vm.mapPoints"></app-map-modal>
  @if (!vm.noEvents && this.vm.events.length === 0) {
  <div>
    <app-skeleton-event></app-skeleton-event>
    <app-skeleton-event></app-skeleton-event>
    <app-skeleton-event></app-skeleton-event>
    <app-skeleton-event></app-skeleton-event>
  </div>
  } @if (vm.noEvents) {
  <div class="message large"><ion-text>{{vm.noEventsMessage}}</ion-text></div>
  } @for (event of vm.events; track eventsTrackBy($index, event)) {
  <app-rsl-event [event]="event" (mapClick)="map($event)" (artCarClick)="artCar($event)"></app-rsl-event>
  }
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="pad-top"></div>
</ion-content>