<h1 style="display:flex" *ngIf="event.group">{{event.group}}
  <ion-buttons slot="end">
    <ion-button (click)="group(event)">
      <ion-icon slot="icon-only" name="map-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</h1>

<ion-card role="button" (click)="detail()" class="item">
  <div class="image" *ngIf="showImage && event.imageUrl">
    <img loading="lazy" class="image" [@fade]="isReady ? 'visible' : 'hidden'" alt="{{event.title}}" (load)="ready()"
      [src]="event.imageUrl" />
  </div>
  <p *ngIf="event.happening" class="badge">NOW</p>
  <ion-card-header>
    <ion-card-title aria-hidden="true" [routerLink]="'/event/'+ event.uid + '+' + title">{{event.title}}
    </ion-card-title>
    <ion-card-subtitle aria-hidden="true" color="primary" (click)="map(event)">
      {{event.camp}} {{event.location ? '(' + event.location + ')' : ''}} {{event.distanceInfo}}

    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content attr.aria-label="{{event.title}} at {{event.camp}} located at {{event.location}} " (click)="detail()">

    <ion-text aria-hidden="true" class="clamp">{{event.description}}</ion-text>
    <ion-text aria-hidden="true" class="clamp1">
      {{longTime ? event.longTimeString : event.timeString}} {{event.event_type.label}}</ion-text>

  </ion-card-content>
</ion-card>