.page {
    padding-left: 2rem;
    padding-right: 2rem;
}

.image {
    // height: 200px;
    width: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.1);
}

ion-popover {
    --min-width: 95vw;
}
