.page {
    padding-left: 2rem;
    padding-right: 2rem;
}

.image {
    padding-top: 1rem;
    width: 100%;
    object-fit: cover;
}

ion-popover {
    --min-width: 95vw;
}

.btn {
    padding: 0.5rem;
    float: right;
}

.text {
    padding-bottom: 1rem;
}