.item {
    height: 156px;
}

h1 {
    padding-left: 1.5rem;
    margin-bottom: -1rem;
}

.badge {
    position: absolute;
    right: 0;
    margin: 0.5rem;
    padding: 0.25rem;
    color: var(--ion-color-primary-contrast);
    font-family: 'Grotesk Bold';
    transform: rotate(5deg);
    z-index: 1;
    background-color: var(--ion-color-primary);
    font-size: x-small;
    font-weight: bold;
}

.image {
    padding-left: 0.5rem;
    float: right;
    height: 156px;
    width: 33vw;
    min-width: 150px;
    object-fit: cover;
}