<ion-header *ngIf="back() !== ''" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="back()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="share()">
      <ion-icon color="primary" name="share-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-popover #popover side="bottom" [isOpen]="isOpen" (didDismiss)="isOpen = false">
    <ng-template>
      <ion-content class="ion-padding">{{campDescription}}</ion-content>
    </ng-template>
  </ion-popover>
  <ion-list *ngIf="ready && event" lines="none">
    <div class="image" *ngIf="event.imageUrl">
      <img loading="lazy" class="image" [@fade]="isReady ? 'visible' : 'hidden'" alt="{{event.title}}" (load)="setReady()"
        [src]="'https://data.dust.events/'+event.imageUrl" />
    </div>
    <ion-item>
      <h1>{{event.title}}</h1>
    </ion-item>
    <ion-item (click)="showCamp($event)">
      <ion-icon color="primary" slot="start" [src]="'assets/icon/camp.svg'"></ion-icon>
      <ion-label>{{event.camp}}</ion-label>
    </ion-item>
    <ion-item (click)="noop()" *ngIf="event.location">
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-label>{{event.location}}</ion-label>
    </ion-item>
    <ion-item (click)="toggleStar(occurrence)" *ngFor="let occurrence of event.occurrence_set">
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>{{occurrence.longTimeString}}</ion-label>
      <ion-badge *ngIf="occurrence.happening">Now</ion-badge>
      <ion-button *ngIf="!occurrence.happening" color="primary" fill="clear" slot="end">
        <ion-icon *ngIf="occurrence.star" name="star"></ion-icon>
        <ion-icon *ngIf="!occurrence.star" name="star-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label>{{event.event_type.label}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-text style="padding-right: 1rem;" class="text selectable">{{event.description}}</ion-text>
    </ion-item>
    <div class="center" *ngIf="event.occurrence_set.length === 1">
      <ion-button style="padding-bottom: 1rem" *ngIf="!event.occurrence_set[0].star" (click)="toggleStar(event.occurrence_set[0])" shape="round">Add
        To Favorites</ion-button>
    </div>
  </ion-list>
  <app-map *ngIf="ready && event" [points]="mapPoints"></app-map>
</ion-content>