<h1 style="display:flex" *ngIf="event.group">{{event.group}}
  <ion-buttons slot="end">
    <ion-button (click)="group(event)">
      <ion-icon slot="icon-only" name="map-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</h1>

<ion-card class="item">

  <p *ngIf="event.happening" class="badge">NOW</p>
  <ion-card-header>
    <ion-card-title [routerLink]="'/event/'+ event.uid + '+' + title">{{event.title}}
    </ion-card-title>
    <ion-card-subtitle color="primary" (click)="map(event)">
      {{event.camp}} ({{event.location}}) {{event.distanceInfo}}

    </ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content [routerLink]="(event.uid === '') ? '.' : '/event/'+ event.uid + '+' + title">
    <ion-text class="clamp">{{event.print_description}}</ion-text>
    <ion-text class="one-line">      
      {{longTime ? event.longTimeString : event.timeString}} {{event.event_type.label}}</ion-text>
  </ion-card-content>
</ion-card>