<ion-card class="image-container" class="item" [@fadeOut]="out()">
  <ion-card-header>
    <div class="title-with-date">
      <ion-card-title>
        {{ email().subject }}
      </ion-card-title>
    </div>
    @if (email().from.name) {
      <ion-card-subtitle class="wrap-text"
        >{{ email().from.name }}
        <span class="date">
          @if (formattedDate()) {
            ({{ formattedDate() }})
          }
        </span></ion-card-subtitle
      >
    }
  </ion-card-header>

  <ion-card-content>
    <div class="body" [innerHTML]="email().html"></div>
    <ion-text color="primary"></ion-text>
    <div class="buttons">
      <ion-button mode="md" color="primary" (click)="markAsRead()">Mark Read</ion-button>
    </div>
  </ion-card-content>
</ion-card>
