img {
  border-radius: 0.5rem;
  height: 100px;
  width: 100%;
  object-fit: cover;
}

h1 {
  padding-left: 1rem;
}
.empty-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  min-height: 60vh;
}