.image {
    min-height: 180px;
    width: 100%;
    object-fit:contain;
    margin-bottom: -5px;
}

.image-container {
    min-height: 180px;
    width: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.1);
}

.hide {
    display: none;
}

.top {
    height: 360px;
}

.item {
    height: calc(var(--text-zoom) * 50 + 156px)
}

ion-avatar {  
    float: left;
    margin-right: 0.5rem;
}

.right {
    top: 0.5rem;
    position: absolute;
    right: 0.5rem;
    z-index: 1;
}