<ion-card class="item">
  <ion-skeleton-text [animated]="true" style="height:200px; width: 100%; margin-top:-4px"></ion-skeleton-text>
  <ion-card-header>
    <ion-card-title><ion-skeleton-text style="width:30%" [animated]="true"></ion-skeleton-text></ion-card-title>
    <ion-card-subtitle><ion-skeleton-text style="width:50%" [animated]="true"></ion-skeleton-text>
    </ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-card-content>
</ion-card>