<ion-content [fullscreen]="true">
  <div class="header" [ngStyle]="{'background-image': 'url('+ imageUrl+')'}">
    <ion-fab-button style="position: absolute; top: 0.2rem; z-index: 1; right: 0.8rem; left: auto" (click)="home()"
      size="small">
      <ion-icon name="close-sharp"></ion-icon>
    </ion-fab-button>

    <ion-fab slot="fixed" vertical="top" horizontal="end">
      <ion-fab-button id="open-modal" style="position: absolute; top: 230px; z-index: 1; right: 0.2rem; left: auto"
        size="small">
        <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
      </ion-fab-button>

    </ion-fab>
    <ion-title class="image-text" (click)="moreClick()" size="large">{{db.selectedDataset().title}}</ion-title>
  </div>

  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.3">
    <ng-template>
      <ion-list class="ion-padding">
        <ion-item href="mailto:damian@dust.events?subject=dust" (click)="feedback()" detail="true">
          <ion-icon slot="start" name="mail-unread-outline"></ion-icon>
          Feedback
        </ion-item>
        <ion-item (click)="share()" detail="true">
          <ion-icon slot="start" name="share-outline"></ion-icon>
          Share
        </ion-item>

        <ion-item [disabled]="rated" (click)="rate()" detail="true">
          <ion-icon slot="start" name="star-half-outline"></ion-icon>
          Rate
        </ion-item>

        <ion-item (click)="about()" detail="true">
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          About
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-modal>
  <app-tile-container>
    <app-tile [hidden]="!hasRestrooms" title="Restrooms" routerLink="/map/restrooms"
      imgSrc="assets/icon/toilet.svg"></app-tile>
    <app-tile [hidden]="!hasIce" title="Ice" routerLink="/map/ice" imgSrc="assets/icon/ice.svg"></app-tile>
    <app-tile [hidden]="!hasMedical" title="Medical" routerLink="/map/medical"
      imgSrc="assets/icon/medical.svg"></app-tile>
    @if (!db.locationsHidden() && !db.featuresHidden().includes('art')) {
    <app-tile title="Art" routerLink="/map/art" imgSrc="assets/icon/art.svg"></app-tile>
    } @if (!db.locationsHidden()) {
    <app-tile title="Now" routerLink="/map/now" imgSrc="assets/icon/calendar.svg"></app-tile>
    }
    <app-tile title="Directions" [hidden]="!mapPin" (click)="directions()" iconName="compass-outline"></app-tile>
  </app-tile-container>

  @if (!db.featuresHidden().includes('friends')) {
  <app-friends />
  } @if (!db.featuresHidden().includes('private')) {
  <app-private-events />
  }
  @if (groups.length > 0) {
  @for (group of groups; track group.id) {
  <ion-card>
    @for (link of group.links; track link) {
    <app-link [url]="link.url" [text]="link.title"></app-link>
    }
  </ion-card>
  }
  }

  <div class="pad-top" (click)="hiddenPanel = !hiddenPanel"></div>
  <div style="padding: 1rem">
    <ion-item [hidden]="!hiddenPanel" lines="none">
      <ion-icon slot="start" name="time-outline"></ion-icon>
      <ion-toggle (ionChange)="toggleLongEvents($event)" [checked]="longEvents">Long Events In Search</ion-toggle>
    </ion-item>
    <ion-item [hidden]="!hiddenPanel" lines="none">
      <ion-icon slot="start" name="locate-outline"></ion-icon>
      <ion-toggle (ionChange)="toggleLocation($event)" [checked]="locationEnabled">Show My Location</ion-toggle>
    </ion-item>
  </div>
  <div class="pad-top"></div>
</ion-content>