<ion-content [fullscreen]="true">
  <div class="header" [ngStyle]="{'background-image': 'url('+ imageUrl+')'}">
    <ion-fab-button class="search-btn" (click)="search()" size="small">
      <ion-icon name="search-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="close-btn" (click)="home()" size="small">
      <ion-icon name="close-sharp"></ion-icon>
    </ion-fab-button>

    <!-- <ion-title class="image-text" (click)="moreClick()" size="large"><span
      class="back-title">{{db.selectedDataset().title}}</span></ion-title> -->
  </div>

  <ion-modal [isOpen]="moreOpen" (didDismiss)="moreOpen = false" #modal [initialBreakpoint]="0.5"
    [breakpoints]="[0.25, 0.5, 0.75, 1]">
    <ng-template>
      <ion-list class="ion-padding">
        <ion-item href="mailto:damian@dust.events?subject=dust" (click)="feedback()" detail="true">
          <ion-icon slot="start" name="mail-unread-outline"></ion-icon>
          Feedback
        </ion-item>

        <ion-item (click)="addCalendar()" detail="true">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          Add to Calendar
        </ion-item>

        <ion-item (click)="share()" detail="true">
          <ion-icon slot="start" name="share-outline"></ion-icon>
          Share
        </ion-item>

        <ion-item [disabled]="rated" (click)="rate()" detail="true">
          <ion-icon slot="start" name="star-half-outline"></ion-icon>
          Rate
        </ion-item>

        <ion-item (click)="downloadUpdate()" detail="true">
          <ion-icon slot="start" name="cloud-download-outline"></ion-icon>
          Download Update
        </ion-item>

        <ion-item (click)="about()" detail="true">
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          About
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-modal>
  <ion-modal [isOpen]="directionsOpen" (didDismiss)="directionsOpen = false" #modal [initialBreakpoint]="0.75"
    [breakpoints]="[0.25, 0.5, 0.75, 1]">
    <ng-template>
      <div class="ion-padding txt">
        <h2>Directions</h2>
        {{directionText()}}
      </div>
    </ng-template>
  </ion-modal>
  <app-tile-container>
    @if (!db.locationsHidden()) {
    <app-tile title="Map" routerLink="/map/all" imgSrc="assets/icon/map.svg"></app-tile>
    }
    <app-tile [hidden]="!hasMedical" title="Medical" routerLink="/map/medical"
      imgSrc="assets/icon/medical.svg"></app-tile>

    @if (!db.locationsHidden() && this.eventIsHappening) {
    <app-tile title="Now" routerLink="/map/now" imgSrc="assets/icon/calendar.svg"></app-tile>
    }
    <app-tile [hidden]="!hasRestrooms" title="Restrooms" routerLink="/map/restrooms"
      imgSrc="assets/icon/toilet.svg"></app-tile>
    @if (!db.locationsHidden() && !db.featuresHidden().includes('art')) {
    <app-tile title="Art" routerLink="/map/art" imgSrc="assets/icon/art.svg"></app-tile>
    }
    <app-tile [hidden]="!hasIce" title="Ice" routerLink="/map/ice" imgSrc="assets/icon/ice.svg"></app-tile>
    <app-tile title="Directions" [hidden]="!mapPin" (click)="directions()" iconName="compass-outline"></app-tile>
    <app-tile title="More" (click)="moreOpen = true" iconName="ellipsis-vertical-sharp"></app-tile>
  </app-tile-container>

  @if (!db.featuresHidden().includes('friends')) {
  <app-friends />
  } @if (!db.featuresHidden().includes('private')) {
  <app-private-events />
  } @if (groups.length > 0 && db.featuresHidden().includes('private')) { @for (group of groups; track group.id) {
  <ion-card class="ion-padding-bottom">
    @for (link of group.links; track link) {
    <app-link [url]="link.url" [text]="link.title"></app-link>
    }
  </ion-card>
  } }

  @if (downloading) {
  <ion-card><ion-card-content>
      Downloading new content for {{db.selectedDataset().title}}
      <ion-spinner name="dots" color="light"></ion-spinner></ion-card-content></ion-card>
  }

  <app-events-card [events]="favEventsToday"></app-events-card>

  <app-pins-card (clickThing)="clickThing($event)" [things]="things"></app-pins-card>

  <div (click)="moreClick()" class="pad-top" (click)="hiddenPanel = !hiddenPanel"></div>

  <div class="pad-top"></div>
</ion-content>