:host {
    position: absolute;
    z-index: 1000;
  
    right: -6px;
    top: 0;
    bottom: 0;
    margin-top: 120px;
    margin-bottom: 90px;
  
    //not less than 12px and not more than 20px
    font-size: min(18px, max(10px, 1vh));
  
    //Twice the font-size
    padding: calc(2 * min(20px, max(12px, 1vh))) 0;
  
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  
      &.cursor-pointer {
        cursor: pointer;
      }
  
      .letter {
        //Increase the area for mouse hover
        padding: 0 20px;
        position: relative;
  
        pointer-events: none;
  
        transition: transform 0.2s ease-in-out;
        transform-origin: 60%;
  
        //Absolute positioning for letters being able to overlap
        label {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
  
        &.letter-disabled {
          opacity: 0.3;
        }
  
        &.letter-is-hidden-value {
          transform-origin: center;
          transform: scale(2);
        }
      }
    }
  }