h1.card-header {
  padding-left: 1.5rem;
  margin-bottom: -1rem;
  display: flex;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fab-header {
  margin-bottom: -1rem;
  margin-top: 1.3rem;
  margin-bottom: -0.5rem;
  margin-right: 1.5rem;
}
