<ion-content [fullscreen]="true">
  <div class="header" [ngStyle]="{'background-image': 'url('+ vm.imageUrl+')'}">
    <ion-fab-button class="search-btn" (click)="search()" size="small">
      <ion-icon name="search-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="close-btn" (click)="home()" size="small">
      <ion-icon name="close-sharp"></ion-icon>
    </ion-fab-button>
  </div>

  <ion-modal
    [isOpen]="vm.moreOpen"
    (didDismiss)="vm.moreOpen = false"
    #modal
    [initialBreakpoint]="0.5"
    [breakpoints]="[0.25, 0.5, 0.75, 1]"
  >
    <ng-template>
      <ion-list class="ion-padding">
        <ion-item href="mailto:damian@dust.events?subject=dust" (click)="feedback()" detail="true">
          <ion-icon slot="start" name="mail-unread-outline"></ion-icon>
          Feedback
        </ion-item>

        <ion-item (click)="toggleNotifications()" detail="true">
          <ion-icon
            slot="start"
            [name]="pushNotifications.enabled() ? 'notifications-off-outline' : 'notifications-outline'"
          ></ion-icon>
          {{pushNotifications.enabled() ? 'Unsubscribe': 'Subscribe'}}
        </ion-item>

        <ion-item (click)="addCalendar()" detail="true">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          Add to Calendar
        </ion-item>

        <ion-item (click)="shareEvent()" detail="true">
          <ion-icon slot="start" name="share-outline"></ion-icon>
          Share {{vm.eventTitle}}
        </ion-item>

        <ion-item [disabled]="vm.rated" (click)="rate()" detail="true">
          <ion-icon slot="start" name="star-half-outline"></ion-icon>
          Rate
        </ion-item>

        <ion-item (click)="downloadUpdate()" detail="true">
          <ion-icon slot="start" name="cloud-download-outline"></ion-icon>
          Download Update
        </ion-item>

        <ion-item (click)="about()" detail="true">
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          About
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-modal>
  <ion-modal
    [isOpen]="vm.directionsOpen"
    (didDismiss)="vm.directionsOpen = false"
    #modal
    [initialBreakpoint]="0.75"
    [breakpoints]="[0.25, 0.5, 0.75, 1]"
  >
    <ng-template>
      <div class="ion-padding txt">
        <h2>Directions</h2>
        {{directionText()}}
      </div>
    </ng-template>
  </ion-modal>

  @if (vm.downloading) {
  <ion-loading
    spinner="circular"
    [isOpen]="vm.downloading"
    [message]="'Updating '+db.selectedDataset().title"
  ></ion-loading>
  }
  <app-tile-container>
    @if (!db.allLocationsHidden()) {
    <app-tile title="Map" routerLink="/map/all" imgSrc="assets/icon/map.svg"></app-tile>
    }
    <app-tile
      [hidden]="!vm.hasMedical"
      title="Medical"
      routerLink="/map/medical"
      imgSrc="assets/icon/medical.svg"
    ></app-tile>

    @if (!db.anyLocationsHidden() && this.vm.eventIsHappening) {
    <app-tile title="Now" routerLink="/map/now" imgSrc="assets/icon/calendar.svg"></app-tile>
    }
    <app-tile
      [hidden]="!vm.hasRestrooms"
      title="Restrooms"
      routerLink="/map/restrooms"
      imgSrc="assets/icon/toilet.svg"
    ></app-tile>
    @if (!db.artLocationsHidden() && !db.featuresHidden().includes('art')) {
    <app-tile title="Art" routerLink="/map/art" imgSrc="assets/icon/art.svg"></app-tile>
    }
    <app-tile [hidden]="!vm.hasIce" title="Ice" routerLink="/map/ice" imgSrc="assets/icon/ice.svg"></app-tile>
    <app-tile title="Directions" [hidden]="!vm.mapPin" (click)="directions()" iconName="compass-outline"></app-tile>
    <app-tile title="More" (click)="vm.moreOpen = true" iconName="ellipsis-vertical-sharp"></app-tile>
  </app-tile-container>

  @if (vm.groups.length > 0) {
  <app-card-header [title]="vm.eventTitle" [addHidden]="true"></app-card-header>
  @for (group of vm.groups; track group.id) {
  <ion-card class="ion-padding-top ion-padding-bottom">
    @for (link of group.links; track link) {
    <app-link [url]="link.url" [text]="link.title"></app-link>
    }
  </ion-card>
  } } @if (!db.featuresHidden().includes('friends')) {
  <app-friends />
  } @if (!db.featuresHidden().includes('private')) {
  <app-reminders [highlightedDates]="vm.highlightedDates" [startEvent]="vm.startDate" [endEvent]="vm.endDate" />
  }

  <app-events-card [events]="vm.favEventsToday"></app-events-card>

  @if (vm.eventIsHappening) {
  <app-pins-card (clickThing)="clickThing($event)" [things]="vm.things"></app-pins-card>
  }
  <app-participate></app-participate>
  <div class="center text-dim">
    <p (click)="vm.moreOpen = true">{{vm.version}}</p>
  </div>
  <div (click)="moreClick()" class="pad-top" (click)="vm.hiddenPanel = !vm.hiddenPanel"></div>
  <div class="pad-top"></div>
</ion-content>
