# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build Web

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup
      uses: actions/setup-node@v4
      with:
        node-version: 22.x        

    - name: Install bun      
      uses: oven-sh/setup-bun@v1          

    - name: Install deps
      run: |
        bun install 

    - name: Lint        
      run: |
        bun run lint

    - name: Build
      run: |
        bun run build-prod
      env:
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

    - name: Deploy preview.dust.events (Netlify website)
      uses: nwtgck/actions-netlify@v2.0
      with:
        publish-dir: './www/browser'
        production-branch: main
        netlify-config-path: ./netlify.toml
      env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

    - name: Zip app
      uses: montudor/action-zip@v1
      with:
        args: zip -qq -r app.zip www/browser

    - name: Write version file
      uses: DamianReeves/write-file-action@master
      with:
        path: version.json
        contents: |
          { "version": "${{ github.run_id }}" }
        write-mode: overwrite

    - name: R2 Upload
      run: |
        bun add wrangler --dev
        bunx wrangler r2 object put dust-updates/app-v1.zip --file=app.zip
        bunx wrangler r2 object put dust-updates/version.json --file=version.json
      env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}        